header {
    text-align: center;
    padding: 50px;
    background: pink;
}
.flex-wrap {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}